/* form */
.form-control {
	-webkit-appearance: none;
	display: block;
	width: 100%;
	padding: 1.6rem 2rem;
	background-color: $white;
	border: 1px solid $white;
	outline: none;
	color: $text;
	font: $light 1.4rem/1 $font-family-base;
	transition: $transition;

	@include media('>=md') {
		padding-top: 2.2rem;
		padding-bottom: 2.2rem;
		font-size: 2rem;
	}

	&::placeholder {
		color: rgba($text, 0.5);
	}

	&:hover,
	&:active,
	&:focus {
		border-color: $primary;
	}
}

.form-select {
	padding-top: 1.8rem;
	padding-bottom:1.8rem;
	padding-right: 7rem;
	color: rgba($text, 0.5);
	background-image: url("data:image/svg+xml;utf8,%3Csvg width='47' height='8' viewBox='0 0 47 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M46.3536 4.35355C46.5488 4.15829 46.5488 3.84171 46.3536 3.64645L43.1716 0.464466C42.9763 0.269204 42.6597 0.269204 42.4645 0.464466C42.2692 0.659728 42.2692 0.976311 42.4645 1.17157L45.2929 4L42.4645 6.82843C42.2692 7.02369 42.2692 7.34027 42.4645 7.53553C42.6597 7.7308 42.9763 7.7308 43.1716 7.53553L46.3536 4.35355ZM0 4.5H46V3.5H0V4.5Z' fill='%2304040E'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: right 1.8rem center;

	@include media('>=md') {
		padding-top: 2.4rem;
		padding-bottom: 2.4rem;
	}
}

.form-group {
	& + & {
		margin-top: 1.6rem;
		
		@include media('>=xxl') {
			margin-top: 3rem;
		}
	}
}