/* header */
.header {
	position: fixed;
	top: 0;
	left: 0;
	background-color: $text;
	
	@include media('<md') {
		right: 0;
		height: 7.6rem;
	}
	
	@include media('>=md') {
		bottom: 0;
		width: 9rem;
	}
	
	@include media('>=xxl'){
		width: 12.4rem;
	}
}